
#container{
    /* width: 100%; */
    width: 1200px;
    min-height: 400px;
    background-color: aquamarine;
    /* padding: 10px; */
    margin-left: auto;
    margin-right: auto;
    
}
#logo{
    background-color: black;
    color: white;
    text-align: center;
    size: 100px;
    padding: 15px;
    /* margin-bottom: 10px; */
}
#left{
    float: left;
    background-color: rgb(219, 255, 146);
    width: 120px;
    min-height: 400px;
    padding: 10px;
}
#center{
    float: left;
    background-color: lightgrey;
    min-width: 800px;
    min-height: 400px;
    padding: 10px;
}

#right{
    float: left;
    background-color: rgb(209, 177, 238);
    width: 120px;
    min-height: 400px;
    padding: 10px;
}
#footer{
    clear: both;
    background-color: blanchedalmond;
    color: purple;
    text-align: center;
    padding: 15px;
    

}